<p id="notice"><%= notice %></p>

<h1>Membership Pkgs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Amenities</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @membership_pkgs.each do |membership_pkg| %>
      <tr>
        <td><%= membership_pkg.name %></td>
        <td><%= membership_pkg.price %></td>
        <td><%= membership_pkg.amenities %></td>
        <td><%= link_to 'Show', membership_pkg %></td>
        <td><%= link_to 'Edit', edit_membership_pkg_path(membership_pkg) %></td>
        <td><%= link_to 'Destroy', membership_pkg, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Membership Pkg', new_membership_pkg_path %>
