<header class = "navbar navbar-fixed-top navbar-inverse">
      <div class = "container">
        <h1 id="header"><%= link_to "IndyGym", controller: "home", action: "home"%></h1>
        <br />
        <ul class = "nav navbar-nav" style = "background-color: #F6F2DB; width: 100%;">
          <li class = "firstnavelement"><%= link_to "Home", controller: "home", action: "home"%></li>
          <li><%= link_to "Members", controller: "members", action: "index"%></li>
          <li><%= link_to "Membership Packages", controller: "membership_pkgs", action: "index"%></li>
          <li><%= link_to "Fitness Classes", controller: "fitness_classes", action: "index"%></li>
          <li><%= link_to "COVID-19 FAQ", controller: "covid_faq", action: "show"%></li>
        </ul>
      </div>
  </header>